# Munin の監視設定です。

# Docker network 名です。
PROXY_NETWORK_NAME=proxy-network

# Munin Web UI をホストで公開するポートです。
MUNIN_HTTP_PORT=8080

# コンテナ内タイムゾーンです。
TZ=Asia/Tokyo

# 監視ノード名です。グラフ上の表示名になります。
MUNIN_NODE_NAME=docker-host

# munin-node の接続先です。
# 普通は host.docker.internal のままで構いません。
MUNIN_NODE_ADDRESS=host.docker.internal

# Munin からアクセスを許可する CIDR です。
MUNIN_ALLOWED_CIDR=172.16.0.0/12

# 監視対象から外したいコンテナ名です。
EXCLUDE_CONTAINER_NAME=runner
